In [49]:
%pip install sqlalchemy pandas -q
%pip install mysql-connector-python pandas -q

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [50]:
import sqlalchemy as sa 

# Step 1: Create the database URL
uri = sa.URL.create(
    "mysql+mysqlconnector",
    username="rejina",
    password="rejina123",
    host="localhost",
    port=3306,
    database="sakila"
)

In [51]:
mysql_conn = sa.create_engine(uri)

In [52]:
import sqlalchemy as sa
with mysql_conn.connect() as conn:
    statement = sa.text("CREATE DATABASE IF NOT EXISTS test_db")
    conn.execute(statement)
    conn.commit()

In [53]:
import pandas as pd

In [54]:
df = pd.read_sql_query(sql = "SELECT * FROM sakila.actor_info;", con = mysql_conn)

In [55]:
df

,actor_id,first_name,last_name,film_info
0,1,PENELOPE,GUINESS,Animation: ANACONDA CONFESSIONS; Children: LAN...
1,2,NICK,WAHLBERG,Action: BULL SHAWSHANK; Animation: FIGHT JAWBR...
2,3,ED,CHASE,"Action: CADDYSHACK JEDI, FORREST SONS; Classic..."
3,4,JENNIFER,DAVIS,Action: BAREFOOT MANCHURIAN; Animation: ANACON...
4,5,JOHNNY,LOLLOBRIGIDA,"Action: AMADEUS HOLY, GRAIL FRANKENSTEIN, RING..."
...,...,...,...,...
195,196,BELA,WALKEN,Action: FANTASY TROOPERS; Animation: LUKE MUMM...
196,197,REESE,WEST,Action: ANTITRUST TOMATOES; Animation: DOORS P...
197,198,MARY,KEITEL,"Action: FANTASY TROOPERS, FORREST SONS, HANDIC..."
198,199,JULIA,FAWCETT,"Action: BERETS AGENT; Animation: LUKE MUMMY, T..."
199,200,THORA,TEMPLE,Animation: CAROL TEXAS; Children: CHRISTMAS MO...

In [56]:
df.to_sql(name = "actor_info_temp", con = mysql_conn, if_exists= "replace",index = False, schema = "sakila")

200

In [57]:
import sqlalchemy as sa

#  Create the MySQL connection URL
mysql_url = sa.URL.create(
    drivername="mysql+mysqlconnector",
    username="rejina",
    password="rejina123",
    host="localhost",
    port=3306,
    database="test_db"
)

#  Create the connection engine
mysql_conn = sa.create_engine(mysql_url)

In [58]:
Create_query = """
CREATE TABLE test_db.student(
    rollnum INT PRIMARY KEY,
    name VARCHAR(64) NOT NULL,
    percentage DECIMAL(13,2)
);
"""

In [59]:
def execute_query(query):
    with mysql_conn.connect() as conn:
        statement = sa.text(query)
        conn.execute(statement)
        conn.commit()

In [60]:
execute_query("use test_db;")

In [61]:
execute_query(Create_query)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'student' already exists
[SQL:
CREATE TABLE test_db.student(
    rollnum INT PRIMARY KEY,
    name VARCHAR(64) NOT NULL,
    percentage DECIMAL(13,2)
);
]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Now writing new query

In [ ]:
execute_query("insert into student values (1,'Ram',77);")

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'student.PRIMARY'
[SQL: insert into student values (1,'Ram',77);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
execute_query("insert into student values (2,'Hari',78);")

# or you can do as follows:

In [ ]:
with mysql_conn.connect() as conn:
        statement = sa.text("insert into student values (3,'Shyam',79)")
        conn.execute(statement)
        conn.commit()

### To run multiple query together : Make list and insert queries

In [ ]:
data1 =[
    "insert into student values (4,'Gita',74);",
    "insert into student values (5,'Sita',73);",
    "insert into student values (6,'Rita',72);",
    "insert into student values (7,'Gopal',71);"
]

In [ ]:
for i in data1:
    execute_query(i)

### To update the percentage of roll num 2

In [ ]:
execute_query("""UPDATE test_db.student
SET percentage = 40
WHERE rollnum = 2;""")

In [ ]:
execute_query("""DELETE FROM test_db.student WHERE rollnum = 1 ; """)

In [ ]:
def fetch_query(query):
    with mysql_conn.connect() as conn:
        statement = sa.text(query)
        result = conn.execute(statement)
        return result.fetchall()

In [ ]:
data = fetch_query("""SELECT rollnum, name, percentage FROM student;""")
for row in data:
    print(row)

(2, 'Hari', Decimal('40.00'))
(3, 'Shyam', Decimal('79.00'))
(5, 'Sita', Decimal('73.00'))
(6, 'Rita', Decimal('72.00'))
(7, 'Gopal', Decimal('71.00'))

In [ ]:
data = fetch_query(""" select * from student where percentage > 75;""")
for row in data:
    print(row)

(3, 'Shyam', Decimal('79.00'))

In [ ]:
def student():
    s_id = eval (input("Enter student id :"))
    name = input("Enter the student name :")
    per = eval (input("Enter the student percentage :"))
    return s_id,name, per

In [ ]:
student_id ,student_name ,student_per = student()

In [ ]:
student_id

101

In [ ]:
student_name

'Reju'

In [ ]:
student_per

85

In [62]:
insert_query = f"INSERT INTo student VALUES ({student_id}, '{student_name}', {student_per})"

In [63]:
execute_query(insert_query)

In [69]:
def student():
    s_id = int(input("Enter student id: "))
    name = input("Enter the student name: ")
    per = float(input("Enter the student percentage: "))
    return s_id, name, per

count = 1  # Track how many students added

while True:
    print(f"\nEntering data for student {count}")
    
    student_id, student_name, student_per = student()
    
    insert_query = f"INSERT INTO student VALUES ({student_id}, '{student_name}', {student_per})"
    execute_query(insert_query)

    # Ask if user wants to continue
    cont = input("Do you want to add another student? (yes/no): ").strip().lower()
    if cont != "yes":
        break
    
    count += 1

print("\n Student data entry completed!")

Entering data for student 1

 Student data entry completed!