In [144]:
("Hello World!!")

'Hello World!!'

In [145]:
2 +3

5

In [146]:
a= 10
b= 203
b//a  #Only takes integer value.
b.__truediv__(a)  #Takes both value.

20.3

In [147]:
a,b = 5,10
a,b

(5, 10)

In [148]:
salary = 1200000
tax_rate = 0.25 

total = salary * tax_rate
total

300000.0

In [149]:
p = 500000
r = 0.05
t = 5 # Amount?
AMOUNT = (p*t*r)/100 + p
AMOUNT

501250.0

#help(str)
#dir(str)

In [150]:
#String 
"Broadway"
# 'i'm a student' --->not allowed

'Broadway'

In [151]:
#escape character:
# That's sweet, let,s go to the park.
'That\'s sweet, let\'s go to the park.'

"That's sweet, let's go to the park."

In [152]:
helo ="That's sweet, let's go to the park."
helo.upper()

"THAT'S SWEET, LET'S GO TO THE PARK."

Indexing and slicing

In [153]:
a = "Hello world!"
a[11]

'!'

In [154]:
#Slicing 
#Syntax [start:stop:step] 
#Start :inclusive  default = 0
#end : exclusive (adds 1) len(string) 
#step : Step size default = 1

a[0:4+1:2]
a

'Hello world!'

In [155]:
#!dlrow-->a = "Hello world!"

a[11:6-1:-1]

'!dlrow'

In [156]:
b = "my name"
b[6:3-1:-1]

'eman'

In [157]:
a[0:11:1]

'Hello world'

In [158]:
a[11:]

'!'

In [159]:
a[::1]

'Hello world!'

In [160]:
b = "Rejeena"
b[::-1]

'aneejeR'

In [161]:
a = [1,"Two",3.0,4+5j,True,[1,2,3],{1,2,3},{1:"one",2:"two"}]
a[1:8] = [2,3,4,5,6,7,8]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [162]:
a = [1,"Two",3.0,4+5j,True,[1,2,3],{1,2,3},{1:"one",2:"two"}]
a[2:8] = [3,"Four",5,"Six",7,"Eight"]
a

[1, 'Two', 3, 'Four', 5, 'Six', 7, 'Eight']

In [163]:
help(list.clear)

Help on method_descriptor:

clear(self, /) unbound builtins.list method
    Remove all items from list.

In [164]:
a = [1,2,3,4,5]
a.clear()
a

[]

In [165]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [166]:
help(dict.update)

Help on method_descriptor:

update(...) unbound builtins.dict method
    D.update([E, ]**F) -> None.  Update D from mapping/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E.keys(): D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

Extract 11:

In [167]:
a = [
    [
        [1,2,3],
        [4,5,6]
    ],
    [
        [7,8,9],
        [10,11,12]
    ],
    [
        [13,14,15],
        [16,17,18]
    ]
]
a[1][1][1] # a list ko 11--> 1 index ma xa ani pherii 1 index vitra ko ni 1 index ko ni feri 1 index ma xa

11

Extract 18

In [168]:
a = [
    [
        [1,2,3],
        [4,5,6]
    ],
    [
        [7,8,9],
        [10,11,12]
    ],
    [
        [13,14,15],
        [16,17,18]
    ]
]
a[2][1][2]

18

In [169]:
my_Info = ("Rejina",22,9817088954,"Unmarried")
type(my_Info)

tuple

In [170]:
a = 1,2,3 #tuple packing
type(a)

tuple

In [171]:
b,c, d= a # tuple unpacking

Set

In [172]:
a = {1,2,3,4,5,6,7}
b = {5,6,7,8,9,10}

In [173]:
a.intersection(b)

{5, 6, 7}

In [174]:
a.pop()

1

In [175]:
help(set.remove)

Help on method_descriptor:

remove(self, object, /) unbound builtins.set method
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

Dictionary

In [176]:
my_address = {
    "ward" : 1,
    "Municipality": "Ilam",
    "Provice" : "koshi",
    "Country" : "Nepal",   
}
type(my_address)

dict

#Adding data in dictionary

In [177]:
my_address ["name"] = "Rejina"
my_address ["surname"] = "Budhathoki"
my_address ["Contact"] = "9812345678"
my_address ["Address"] = {'city':"Ilam", 'country':"Nepal"}
my_address ["Address"] = {'city':"Ilam", 'country':"Nepal"}
my_address.get("name")# Get method

'Rejina'

In [178]:
my_address

{'ward': 1,
 'Municipality': 'Ilam',
 'Provice': 'koshi',
 'Country': 'Nepal',
 'name': 'Rejina',
 'surname': 'Budhathoki',
 'Contact': '9812345678',
 'Address': {'city': 'Ilam', 'country': 'Nepal'}}

In [179]:
my_address.values()

dict_values([1, 'Ilam', 'koshi', 'Nepal', 'Rejina', 'Budhathoki', '9812345678', {'city': 'Ilam', 'country': 'Nepal'}])

In [180]:
help(dict.popitem)

Help on method_descriptor:

popitem(self, /) unbound builtins.dict method
    Remove and return a (key, value) pair as a 2-tuple.

    Pairs are returned in LIFO (last-in, first-out) order.
    Raises KeyError if the dict is empty.

In [181]:
help(dict.pop)

Help on method_descriptor:

pop(self, key, default=<unrepresentable>, /) unbound builtins.dict method
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [182]:
my_address.pop("ward") # Gives the value of kay and remove it

1

In [183]:
my_address

{'Municipality': 'Ilam',
 'Provice': 'koshi',
 'Country': 'Nepal',
 'name': 'Rejina',
 'surname': 'Budhathoki',
 'Contact': '9812345678',
 'Address': {'city': 'Ilam', 'country': 'Nepal'}}

In [184]:
my_address.popitem() #Sabaii vanda last ma j xa teslaii return gardinxa

('Address', {'city': 'Ilam', 'country': 'Nepal'})

In [185]:
my_address

{'Municipality': 'Ilam',
 'Provice': 'koshi',
 'Country': 'Nepal',
 'name': 'Rejina',
 'surname': 'Budhathoki',
 'Contact': '9812345678'}

In [186]:
my_address["Address"][2]

KeyError: 'Address'

Files
go to It section.
go to python book.
start reading

In [ ]:
#locate the book /Find the location where the book is locates
#Open the book ./reading
#1,2,3,4,5,6......
#next
#Close the book

In [190]:
#Locate the file
file_path = "C:\\Users\\97798\\Desktop\\PYTHON_LEARNING_SESSIon\\hello.txt"

In [199]:
a = open(file_path, "r")

In [200]:
a.read()

'My name is Rejina.\nIam from Ilam.\nIam studying python.'

In [201]:
a.close()

In [202]:
#Now we cannot read after closing.
a.read()

ValueError: I/O operation on closed file.

In [ ]:
#r --> Reading # These all are predefine
#W---> Writing
#a--->Appened
#ADvance --> a+,W+,r+

Tuple Unpacking and packing

In [1]:
a = [("Nabil",500),("Upper",300),("NBL",350)]
#nabil is selling at 500
#upper is selling at 350
#nbl is selling 350

In [11]:
for b ,c in a :
    # b,c = i
    print(f"{b} is selling at {c}")

Nabil is selling at 500
Upper is selling at 300
NBL is selling at 350

In [12]:
b,c = a[0] #tuple unpacking
print (b)
print(c)

Nabil
500

In [13]:
a = [1,2,3]

In [15]:
max(a)

3

In [16]:
a.index(3)

2

Enumerate

In [ ]:
# max_val = 0
# for index, value in enumerate (a):
#     print(index, value)

0 1
1 2
2 3

In [42]:
b = [1,2,3]
max_value =0
max_index = -1
for index, value in enumerate (b):
    print(f"Iam in index {index} with value {value}")
    if value>max_value:
        max_value = value
        max_index = index
    pass

Iam in index 0 with value 1
Iam in index 1 with value 2
Iam in index 2 with value 3

In [43]:
max_value

3

In [44]:
max_index

2

In [45]:
work_hours = [('aby',100),('Billy',400),('Cassie',800)]

In [66]:
def find_hard_Working(data):
    max_val = 0
    max_index = - 1
    for index, value in data:
        if value > max_val:
            max_val = value
            max_index = index   
    return max_val,max_index

In [67]:
find_hard_Working(work_hours)

(800, 'Cassie')

In [ ]:
def user_input():
    while True:
        a = input("Enter a integer as your roll_number :")
        try :
            a = int (a)
            return a
        except Exception as e :
            print (e)
            print ("Cannot convert into integer please enter number next time..")
        finally:
            print("Our job  finished, if required re run please")
        return a

In [6]:
user_input()

Our job  finished, if required re run please

122

In [14]:
def user_input():
    while True:
        a = input("Enter a integer as your roll_number :")
        try :
            a = int (a)
            if a <100 :
                return a
            else:
                print("Please enter less than 100")
                pass
        except Exception as e :
            print (e)
            print ("Cannot convert into integer please enter number next time..")
        finally:
            print("Our job  finished, if required re run please")
        return a

In [15]:
user_input()

Please enter less than 100
Our job  finished, if required re run please

999